* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
}
/* ----------------HEADER----------------- */

header{
    background-color:#EAC926;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.upperheader{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.logo{
    width: 40vw;
}

/*------------- HEADER - SEARCHBAR ----------------------------*/

.searchbar{
    background-color: white;
    width: 40%;
    font-size: 10px;
    display:flex;
    padding: 6px;
    border-radius: 6px;
    margin: auto;
    color:#666;
}

.searchbar i{
    font-size: 16px;
    color:#666;
}

.searchtext{
    width:90%;
    font-size: 10px;
    border:none;
}

/*------------ HEATER - NAVBAR LOGINBAR BURGERMENU-------------------------------*/

.compraencuotas{
    text-align: center;
    font-size: 12px;
    margin: 10px 0px;
}

.bottomheader{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    display:none;
}

.loginbar{
    display:none;
}

.burger-menu{
    text-align: center;
    background-color: rgb(33, 33, 122);
    color: white;
    max-width: 40px;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin: auto;
}

/*----------------------- MAIN ----------------------------------*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
    box-sizing: border-box;
}
main{
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 25px;
    width:90vw;
    color:#666;
}

/*------------------- FORMULARIO --------------------------*/

.formulalogin{
    width:90vw;
}

.campologin{
    width:90vw;
    border:none;
    padding: 12px;
    border-radius: 6px;
    margin: 20px 0px;
}

.birthdate{
    color:#666;
}

/*------------------- BOTONES -----------------------------*/

.enviar{
    margin: 20px 0px;
    width: 90;
    padding: 12px;
    border-radius: 6px;
    background-color: #1259c3;
    color: white;
    border: none;
    text-decoration: none;
    }

.enviar:hover{
    background-color: #0022AA;
}

/*---------------------------FOOTER --------------------*/

footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 15px;
    }

.iconopie{
    font-size: 2em;
    color:blue;
    margin-bottom: 10px;
}

/* ----------------------- MEDIAQUERIES TABLET & DESKTOP ----------------------*/

@media (min-width:361px){
    header a{
        text-decoration: none;
    }
    
    .upperheader{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        width:30%;
    }

    .searchbar{
        width:30%;
        display:flex;
    }
    
    .searchtext{
        width:90%;
        font-size: 12px;
        border:none;
    }

    .compraencuotas{
        width:30%;
    }

    .bottomheader{
        font-size: 1.8vw;
    }

    header ul{
        display: flex;
        list-style-type: none;
        margin: 0px;
    }

    .bottomheader li{
        margin: 0 4px;
    }

    .navbar{
        display:flex;
        text-decoration: none;
        width: 50vw;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar a{
        text-decoration: none;
        color:black;
    }

    .loginbar{
        display:flex;
        text-decoration: none;
        width: 50vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .loginbar a{
        text-decoration: none;
        color:black;
    }
    .burger-menu{
        display: none;
    }
   

    
}


@media (min-width: 769px){
    .imagenarticulo{
        width: 20vw;
    }

    .articulo{
        box-shadow : 0px 0px 10px rgb(100 , 100 , 100);
        width: 20vw;
    }
    .bottomheader{
        font-size: 1.5vw;
    }
    .footerdesktop{
        display:flex;
        justify-content: space-around;
        font-size: 1.1vw;
    }
    .copyright{
        text-align: start;
        margin:15px 0px;
    }
    .iconopie:hover{
        color:#EAC926;
    }
}